[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CARBayesST"]
	path = CARBayesST
	url = https://github.com/duncanplee/carbayesst
	shallow = true
	registered = true
[submodule "CARBayes"]
	path = CARBayes
	url = https://github.com/duncanplee/carbayes
	shallow = true
	registered = true
